body {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box
}

a {
  color: #00B7FF;
}

/* Style the tab */
.tab {
  float: right;
  border: none;
  width: 90px;
  height: 574px;
  margin-top: 50px;
  margin-right: 50px;
}

#loginScreen {
  position: absolute;
  top: 38%;
  transform: translate(80%,-50%);  
}

#googleImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

h2 {
  text-align: center;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  color: black;
  padding: 12px 12px;
  width: 100%;
  border: none;
  border-radius: 0px 20px 20px 0px;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  margin-top: 50px;
  float: right;
  padding: 0px 5px;
  border: 1px solid #ccc;
  width: 85%;
  min-width: 500px;
  max-width: 500px;
  border-right: none;
  height: 572px;
  Overflow-y:scroll;
}