* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  background-color: Linen;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: DeepSkyBlue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  overflow-y: scroll;
}

body > main h1:first-child {
  /* margin-bottom: 50px; */
}

#new-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  size: 60;
}
.prompt-label {
  margin-left: 50px;
  font-weight: bold;
}

.prompt-submit {
  size: "20";
}

table {
  padding-left: 20px;
}

td {
  padding-left: 20px;
}

.heading {
  font-weight: bold;
}




















/* body {
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box
}

a {
  color: #00B7FF;
} */

/* Style the tab container */
.tab-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  float: right;
  border: none;
  margin-right: 50px;
  margin-top: 50px;
  background-clip: content-box;
  flex-basis: auto;
  box-sizing: content-box;
  width: 50px;
  height: 565px;
}

/* Style the buttons inside the tab */
.tab-button {
  height: 40px;
  width: 60px;
  border-top-right-radius: 50%;
  /* background-clip: border-box; */
  /* flex-grow: 15; */
  flex-basis: 51px;
  /* box-sizing: content-box; */
  /* flex: 10; */
}

/* Style the tab content */
.tabcontent {
  margin-top: 50px;
  float: right;
  padding: 0px 5px;
  border: 1px solid #ccc;
  width: 500px;
  border-right: none;
  height: 565px;
  Overflow-y:scroll;
  background-color: white;
}

/* #loginScreen {
  position: absolute;
  top: 38%;
  transform: translate(30%,-30%);  
}

#googleImg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
} */

h2 {
  text-align: center;
}