* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  background-color: whitesmoke;
  margin: 0;
  height: 95vh;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B6D8F2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 20px;
  border-bottom: solid 2px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.add {
  background-color: lawngreen;
  padding: 3px 13px;
  font-weight: bold;
  border-radius: 20px;
}

.delete {
  background-color: lightcoral;
  padding: 3px 6px;
  font-weight: bold;
  border-radius: 20px;
}

.edit {
  background-color: #ffff99;
  padding: 3px 14px;
  margin-bottom: 5px;
  font-weight: bold;
  border-radius: 20px;
}

#new-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prompt {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  size: 60;
}
.prompt-label {
  margin-left: 20px;
  font-weight: bold;
}

.prompt-submit {
  margin-top: 20px;
  size: "20";
}

table {
  padding-left: 20px;
}

td {
  padding-left: 20px;
}

.heading {
  font-weight: bold;
}

/* Style the tab container */
.tab-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  float: right;
  border: none;
  background-clip: content-box;
  flex-basis: auto;
  box-sizing: content-box;
  margin-right: 40px;
  margin-top: 40px;
  width: 50px;
  height: 90%;
}

/* Style the buttons inside the tab */
.tab-button {
  background-color: #B6D8F2;
  border: none;
}

.div-form-tab {
  margin: auto;
}

.div-tab {
  display: flex;
  flex: 1 1 auto;
  width: 50px;
  border-top-right-radius: 80%;
  background-color: #B6D8F2;
}
/* Style the tab content */
.tabcontent {
  margin-top: 40px;
  margin-bottom: 20px;
  float: right;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 80%;
  border-right: none;
  border-left: solid;
  border-top: solid;
  border-bottom: solid;
  height: 90%;
  Overflow-y:scroll;
  background-color: white;
}

@media (max-width: 450px) {
  .tabcontent {
    width: 250px;
    font-size: 12px;
  }
  body {
    font-size: 12px;
  }
}

h2 {
  text-align: center;
}