<%- include('../partials/header') %>

<%- include('../partials/main') %>

<div class="tabcontent BookExterior">
  <h2 class="BookExterior"><%= title %></h2>
</div>

<%- include('../partials/footer') %>