<%- include('../partials/header') %>

<%- include('../partials/main') %>

<div class="tabcontent">

<form id="new-form" action="/contacts" method="POST">
  <label class="prompt-label">First Name:  <input class="prompt" type="text" name="firstName">  </label><br>
  <label class="prompt-label">Last Name:   <input class="prompt" type="text" name="lastName">   </label><br>
  <label class="prompt-label">Address1:    <input class="prompt" type="text" name="address1">   </label><br>
  <label class="prompt-label">Address2:    <input class="prompt" type="text" name="address2">   </label><br>
  <label class="prompt-label">City:        <input class="prompt" type="text" name="city">       </label><br>
  <label class="prompt-label">State:       <input class="prompt" type="text" name="state">      </label><br>
  <label class="prompt-label">Zip Code:    <input class="prompt" type="text" name="zipCode">    </label><br>
  <label class="prompt-label">Email:       <input class="prompt" type="text" name="email">      </label><br>
  <label class="prompt-label">Phone:       <input class="prompt" type="text" name="phone">      </label><br>
  <input class="prompt-submit" type="submit" value="Add Contact" size="20" maxlength="9">
</form>

</div>

<%- include('../partials/footer') %>
